:root {
    --black-2: rgba(0, 0, 0, 0.2);
    --black: rgba(0, 0, 0, 1);
    --waikawa-gray: rgba(87, 115, 153, 1);
    --jumbo: rgba(124, 127, 135, 1);
    --spindle: rgba(189, 213, 234, 1);
    --link-water: rgba(217, 222, 236, 1);
    --white: rgba(255, 255, 255, 1);
    --font-size-m: 20px;
    --font-size-l: 48px;
    --font-size-xl: 55px;
    --font-family-roboto: "Roboto";
    --font-family-source_sans_3: "Source Sans 3";
}

html {
    background-color: #577399;
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.sourcesans3-light-jumbo-20px {
    color: var(--jumbo);
    font-family: var(--font-family-source_sans_3);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
}

.roboto-light-white-55px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-weight: 300;
    font-style: normal;
}

.sourcesans3-light-white-20px {
    color: var(--white);
    font-family: var(--font-family-source_sans_3);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
}

.workout-plans {
    align-items: center;
    background-color: #577399;
    display: flex;
    flex-direction: column;
    height: 982px;
    padding: 40px 0;
    width: 1512px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.title {
    align-self: flex-start;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-weight: 400;
    height: 110px;
    letter-spacing: 0;
    margin-left: 57px;
    margin-top: 26px;
    width: 602px;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rectangle-7 {
    background-color: #d9deec;
    height: 85px;
    margin-top: 28px;
    width: 1512px;
}

.overlap-group-container {
    align-items: flex-start;
    display: flex;
    margin-right: 4px;
    margin-top: 12px;
    min-width: 1394px;
}

.overlap-group5 {
    height: 547px;
    margin-left: 63px;
    position: relative;
    width: 423px;
}

.pull-ups {
    height: 110px;
    left: 112px;
    letter-spacing: 0;
    position: absolute;
    top: 219px;
    width: 200px;
}

.overlap-group4 {
    height: 547px;
    left: 0;
    position: absolute;
    top: 0;
    width: 423px;
}

.rectangle-9 {
    height: 547px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 422px;
}

.rectangle-12 {
    background-color: var(--black-2);
    border-radius: 15px;
    height: 547px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 422px;
}

.overlap-group7 {
    height: 547px;
    margin-left: 64px;
    position: relative;
    width: 422px;
}

.planks {
    height: 110px;
    left: 132px;
    letter-spacing: 0;
    position: absolute;
    top: 219px;
    width: 162px;
}

.group-14 {
    align-items: flex-start;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6237ab23985fbcb0a0170ace/releases/6237bfad9597d53f578ba6c5/img/rectangle-10@1x.png);
    background-size: 100% 100%;
    display: flex;
    height: 547px;
    left: 0;
    min-width: 422px;
    position: absolute;
    top: 0;
}

.rectangle-1 {
    background-color: var(--black-2);
    border-radius: 15px;
    height: 547px;
    width: 422px;
}

.overlap-group6 {
    height: 547px;
    position: relative;
    width: 422px;
}

.push-ups {
    height: 110px;
    left: 94px;
    letter-spacing: 0;
    position: absolute;
    top: 219px;
    width: 233px;
}

.group-13 {
    align-items: flex-start;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6237ab23985fbcb0a0170ace/releases/6237bfad9597d53f578ba6c5/img/rectangle-8@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 547px;
    left: 0;
    min-width: 422px;
    position: absolute;
    top: 0;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    margin-left: 19.9px;
    min-width: 1435px;
}

.overlap-group3 {
    align-items: flex-end;
    background-color: var(--spindle);
    display: flex;
    height: 35px;
    margin-left: 212px;
    margin-top: 10px;
    min-width: 178px;
    padding: 3px 35px;
}

.education {
    height: 28px;
    letter-spacing: 3px;
    width: 107px;
}

.overlap-group {
    align-items: flex-end;
    background-color: var(--spindle);
    display: flex;
    height: 35px;
    margin-left: 42px;
    margin-top: 10px;
    min-width: 178px;
    padding: 3px 22px;
}

.leaderboard {
    height: 28px;
    letter-spacing: 3px;
    width: 134px;
}

.overlap-group2 {
    align-items: flex-end;
    background-color: var(--spindle);
    display: flex;
    height: 35px;
    margin-left: 42px;
    margin-top: 10px;
    min-width: 178px;
    padding: 3px 31px;
}

.challenges {
    height: 28px;
    letter-spacing: 3px;
    width: 116px;
}

.vector {
    height: 134px;
    width: 382px;
}

.overlap-group1 {
    align-items: flex-end;
    background-color: var(--spindle);
    display: flex;
    height: 35px;
    margin-left: 42px;
    margin-top: 10px;
    min-width: 178px;
    padding: 3px 49px;
}

.profile {
    height: 28px;
    letter-spacing: 3px;
    width: 72px;
}